<button (click)="checking($event)">Checking</button>
<ejs-treegrid #treegrid [dataSource]='data'
              [enableVirtualization]=true
              showColumnMenu=true
              height=300
              childMapping='Crew'
              [treeColumnIndex]='1'
              [pageSettings]='pageSettings'
              [contextMenuItems]="contextMenuItems"
              [editSettings]='editing'
              [toolbar]="toolbar"
              [allowFiltering]=true
              (contextMenuOpen)="contextMenuOpen($event)"
              (contextMenuClick)="contextMenuClick($event)">
    <e-columns>
        <e-column field='TaskID'
                  isPrimaryKey='true'
                  headerText='Player Jersey'
                  width='120'
                  textAlign='Right'
                  showColumnMenu=true
                  id='target'>
        </e-column>
        <e-column field='FIELD1'
                  headerText='Player Name'
                  width='120'
                  showColumnMenu=true
                  editType='dropdownedit'>
        </e-column>
        <e-column field='FIELD2'
                  headerText='Year'
                  width='100'
                  textAlign='Right'
                  showColumnMenu=true
                  editType='dropdownedit'>
        </e-column>
        <e-column field='FIELD3'
        headerText='Stint'
        width='120'
        textAlign='Right'
        showColumnMenu=true
        ditType='dropdownedit'>
        </e-column>
        <e-column field='FIELD4'
                  headerText='TMID'
                  width='120'
                  textAlign='Right'
                  showColumnMenu=true
                  ditType='dropdownedit'>
        </e-column>
    </e-columns>
</ejs-treegrid>

